body {
  background-color: #FFE5D1;
  background: url('../assets/bg.png') fixed;
  font-family: 'Avenir', sans-serif;
  color: rgba(0,0,0,.5);
  margin: 0;
  font-size: 12px;
  cursor: crosshair;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

a {
  color: rgba(0,0,0,.5);
  transition: all .3s;
  text-decoration: underline;
}

a:hover {
  color: rgba(0,0,0,.8);
}

.warning {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 15px;
  padding: 0;
  line-height: 15px;
  text-align: center;
  z-index: 1;
  text-transform: capitalize;
}

/*.tips-container {
  display: none;
  position: absolute;
  right: 50px;
  top: 100px;
  width: 200px;
  border: 1px solid rgba(0,0,0,.5);
  padding: 8px;
  color: rgba(0,0,0,.5);
  z-index: 1;
  font-size: 15px;
  background-color: rgba(255,255,255,.5);
}

.tips {
  margin-top: 10px;
  font-size: 12px;
}*/

.btns {
  position: fixed;
  left: 50px;
  width: 100%;
  text-align: center;
  z-index: 1;
  top: 20px;
}

.btn {
  float: left;
  /*border: 1px solid rgba(0,0,0,.5);*/
  box-shadow: 3px 3px 0 rgba(0,0,0,.2);
  background-color: #78A0AB;
  color: #fff;
  padding: 8px;
  margin: 5px;
  height: 15px;
  line-height: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s;
}

.btn--minor {
  letter-spacing: 0;
  border: 0;
  color: #78A0AB;
  background-color: rgba(0,0,0,0);
  box-shadow: 0 0 0;
}

#btn-save {
  display: none;
}

#btn-room {
  background-color: #F15C68;
}

.btn:hover {
  /*border: 1px solid #000;*/
  box-shadow: 0 0 0;
}

.final,
.room,
.init {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.9);
  overflow: scroll;
  text-align: center;
  padding: 150px;
  font-size: 15px;
}

.tutorial,
.leaderboard,
.tips {
  z-index: 4;
  display: none;
  cursor: default;
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  background-color: rgba(255,255,255,.95);
  /*border: 5px solid #FFD38A;*/
  overflow: scroll;
  text-align: center;
  padding: 50px;
  box-shadow: 6px 6px 0 rgba(0,0,0,.1);
}

.tips {
  font-size: 16px;
  display: block;
  top: 200px;
  bottom: 200px;
  left: 300px;
  right: 300px;
}

.tutorial {
  font-size: 20px;
}

.tutorial img {
  height: 100%;
  width: auto;
}

.leaderboard h1 {
  font-size: 30px;
  font-weight: 700;
  color: #F15C68;
}

.leaderboard ol {
  /*list-style-type: none;*/
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
  width: 80%;
}

.leaderboard a {
  color: #fff;
  text-decoration: none;
}

.leaderboard li {
  background-color: #78A0AB;
  color: #FFF;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.init {
  padding-top: 100px;
  cursor: default;
  overflow-y: scroll;
  background-color: #FFE5D1;
  text-align: center;
  z-index: 3;
}

.init img {
  width: 50%;
  height: auto;
}

/*.init a {
  font-size: 20px;
  color: #78A0AB;
}*/

.inputs {
  width: 100%;
  margin: 50px 0;
}

.inputs * {
  font-size: 20px;
  display: block;
  margin: 10px auto 0 auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 300px;
}

.inputs-btn {
  background-color: #F15C68;
  color: #fff;
  cursor: pointer;
  transition: all .3s ;
  margin-top: 0;
  box-shadow: 5px 5px 0 rgba(0,0,0,.2);
}

.inputs-btn:hover {
  opacity: .8;
  box-shadow: 0 0 0 rgba(0,0,0,.2);
}

.home-link {
  display: block;
  background-color: #78A0AB;
  width: 300px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  transition: all .3s ;
  margin: 0 auto 10px auto;
  box-shadow: 5px 5px 0 rgba(0,0,0,.2);
}

.home-link:hover {
  opacity: .8;
  box-shadow: 0 0 0 rgba(0,0,0,.2);
}

.init input[type="text"] {
  border: 2px solid #fff;
}

.final img,
.room img {
  height: 100%;
  width: auto;
  z-index: 2;
}

.progress,
.level {
  z-index: -1;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 300px;
  text-align: right;
  font-size: 250px;
  opacity: .7;
}

.progress {
  right: -50px;
  width: 800px;
  height: 400px;
}

.progress img {
  width: 100%;
  height: auto;
}

.credit {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 20px;
}

.anim-rotate {
  animation: rotate 2s infinite;
}

@keyframes rotate {
    0%   {transform: rotate(0);}
    50%   {transform: rotate(180deg);}
    100%   {transform: rotate(360deg);}
}
